/Library/
/Temp/
/JulianQuaternion.csproj
/JulianQuaternion.Editor.csproj
/JulianQuaternion.Plugins.csproj
/JulianQuaternion.sln
/Packages/
/.vs/
/obj/
Assembly-CSharp.csproj
/UnityPackageManager/
/UnityEditor.StandardEvents.csproj
/Unity.PackageManagerUI.Editor.csproj
